In [5]:
import pandas as pd
import numpy as np

In [1]:
data_name = 'LNA'
model_name = 'KNeighborsRegressor'

if data_name == 'TwoStage':
    df_cols = ['C1', 'WNOUT', 'WPOUT', 'WCS', 'WN1', 'WP1', 'Bandwidth', 'Power Consumption', 'Voltage Gain']
    num_params = 6
elif data_name == 'LNA':
    df_cols = ['C1', 'C2', 'Ld', 'Lg', 'Ls', 'WN1', 'WN2', 'GT', 'S11', 'NF', 'Bandwidth', 'Power Consumption']
    num_params = 7
elif data_name == 'SingleStageAmplifier':
    df_cols = ['VDD', 'Vgate', 'Wn', 'Rd', 'Bandwidth', 'Power Consumption', 'Voltage Gain']
    num_params = 4
elif data_name == 'Cascode':
    df_cols = ['Wbias', 'Rd', 'Wn1', 'Wn2', 'Bandwidth', 'Power Consumption', 'Voltage Gain']
    num_params = 4
elif data_name == 'VCO':
    df_cols = ['C1', 'L1', 'Rp', 'Wn', 'Wn5', 'Wn6', 'Wvar', 'Oscillation Frequency', 'Power Consumption', 'Output Power', 'Phase Noise', 'Tuning Range']
    num_params = 7
elif data_name == 'Mixer':
    df_cols = ['C', 'R', 'WLO' , 'WRF', 'Power Consumption', 'IF Voltage Swing', 'Conversion Gain' , 'Noise Figure']
    num_params = 4
elif data_name == 'PA':
    df_cols = ['L1p', 'L1s', 'L3p', 'L3s', 'Lm', 'Wn1', 'Wn2', 'S11', 'S22', 'Large Signal Power Gain', 'PAE', 'Drain Efficiency', 'PSAT', 'Power Consumption']
    num_params = 7
elif data_name == 'VCO_PA':
    df_cols = ['C1_VCO', 'L1_VCO', 'Rp_VCO', 'Wn_VCO', 'Wn6_VCO', 'Wvar_VCO', 'L1p_PA', 'L1s_PA', 'L3p_PA', 'L3s_PA', 'Wn1_PA', 'Wn2_PA',
               'dcPowerConsumption/W', '3dB_Bandwidth/Hz', 'OutputPower/dBm', 'VoltageSwing/V', 'TuningRange_VCO/Hz', 'PhaseNoise_VCO/(dBc/Hz)', 
               'LargeSignal_PowerGain_PA/dB', 'DrainEfficiency_PA/%', 'PAE_PA/%']
    num_params = 12
elif data_name == 'Receiver':
    df_cols = ['C1_LNA', 'C2_LNA', 'Ld_LNA', 'Lg_LNA', 'Ls_LNA', 'WN1_LNA', 'WN2_LNA', 'C_Mixer', 'R_Mixer', 'WLO_Mixer', 'WRF_Mixer', 'Rd_Amp',
               'Wn1_Amp', 'Wn2_Amp', 'dcPowerConsumption_System', 'VoltageGain_System_Value', 'NoiseFigure_System_Value', 'PowerGain_LNA/dB',
               'NoiseFigure_LNA/dB', 'S11_LNA/dB', 'ConversionGain_Mixer/dB', 'VoltageSwing_Mixer/V', 'VoltageGain_Amp/dB']
    num_params = 14
elif data_name == 'Transmitter-PA':
    # df_cols = ['L1p_PA', 'L1s_PA', 'L3p_PA', 'L3s_PA', 'Wn1_PA', 'Wn2_PA', 'LargeSignal_PowerGain_PA/dB', 'DrainEfficiency/%', 'PAE/%']
    df_cols = ['L1p_PA', 'L1s_PA', 'L3p_PA', 'L3s_PA', 'Wn1_PA', 'Wn2_PA', 'dcPowerConsumption/W', '3dB_Bandwidth/Hz', 'OutputPower/dBm',
               'VoltageSwing/V', 'LargeSignal_PowerGain_PA/dB', 'DrainEfficiency/%', 'PAE/%']
    num_params = 6
elif data_name == 'Transmitter-VCO':
    # df_cols = ['C1_VCO', 'L1_VCO', 'Rp_VCO', 'Wn_VCO', 'Wn6_VCO', 'Wvar_VCO', 'TuningRange_VCO/Hz', 'PhaseNoise_VCO/(dBc/Hz)']
    df_cols = ['C1_VCO', 'L1_VCO', 'Rp_VCO', 'Wn_VCO', 'Wn6_VCO', 'Wvar_VCO', 'dcPowerConsumption/W', '3dB_Bandwidth/Hz', 'OutputPower/dBm', 
               'VoltageSwing/V', 'TuningRange_VCO/Hz', 'PhaseNoise_VCO/(dBc/Hz)']
    num_params = 6
else:
    raise ValueError("No Dataset Found with This Name!")

In [19]:
data = pd.read_csv(f'data/{data_name}/{data_name}.csv')

x = np.asarray(data.iloc[:,0:num_params])
np.save(f'data/{data_name}/x.npy', x)

y = np.asarray(data.iloc[:,num_params:])
np.save(f'data/{data_name}/y.npy', y)

In [3]:
def make_csv_results(data_name, df_cols, type):
    
    df = pd.DataFrame(columns=df_cols)

    x = np.load(f'data/{data_name}/{model_name}/{type}_x.npy')
    y = np.load(f'data/{data_name}/{model_name}/{type}_y.npy')

    for i in range(x.shape[0]):
        df.loc[i] = list(x[i]) + list(y[i])

    df.to_csv(f'data/{data_name}/{model_name}/{type}.csv', index=False)
    return df

In [6]:
make_csv_results(data_name, df_cols, 'test')

,C1,C2,Ld,Lg,Ls,WN1,WN2,GT,S11,NF,Bandwidth,Power Consumption
0,5.200000e-13,2.000000e-13,4.020000e-09,1.140000e-08,7.000000e-10,0.000006,0.000006,15.50,-14.42,1.825,4.250000e+09,0.0182
1,4.400000e-13,4.000000e-13,4.280000e-09,1.040000e-08,7.000000e-10,0.000006,0.000006,16.05,-14.42,1.753,3.760000e+09,0.0175
2,4.000000e-13,5.000000e-13,3.540000e-09,8.400000e-09,7.000000e-10,0.000005,0.000005,15.29,-14.95,1.802,4.040000e+09,0.0168
3,3.400000e-13,2.900000e-13,4.280000e-09,1.060000e-08,7.000000e-10,0.000006,0.000006,16.12,-14.55,1.781,3.560000e+09,0.0181
4,4.000000e-13,3.400000e-13,4.080000e-09,1.100000e-08,6.000000e-10,0.000005,0.000005,16.25,-16.50,1.740,4.180000e+09,0.0168
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,4.400000e-13,5.000000e-13,3.880000e-09,1.040000e-08,8.000000e-10,0.000006,0.000006,15.57,-13.10,1.762,3.610000e+09,0.0175
3196,4.800000e-13,2.600000e-13,4.080000e-09,1.120000e-08,8.000000e-10,0.000006,0.000005,15.15,-13.07,1.811,3.890000e+09,0.0174
3197,4.200000e-13,2.500000e-13,4.080000e-09,1.140000e-08,7.000000e-10,0.000006,0.000005,15.75,-14.28,1.787,3.980000e+09,0.0174
3198,3.600000e-13,2.500000e-13,3.480000e-09,9.400000e-09,7.470000e-10,0.000005,0.000005,14.46,-13.33,1.843,4.260000e+09,0.0157
3199,3.400000e-13,2.500000e-13,5.000000e-09,9.400000e-09,8.000000e-10,0.000005,0.000006,14.55,-12.46,1.860,3.590000e+09,0.0157

In [7]:
make_csv_results(data_name, df_cols, 'train')

,C1,C2,Ld,Lg,Ls,WN1,WN2,GT,S11,NF,Bandwidth,Power Consumption
0,4.200000e-13,2.600000e-13,4.020000e-09,1.120000e-08,8.000000e-10,0.000005,0.000005,14.58,-12.37,1.810,4.220000e+09,0.0156
1,4.400000e-13,2.500000e-13,4.340000e-09,1.140000e-08,7.000000e-10,0.000006,0.000006,15.97,-14.50,1.784,3.890000e+09,0.0181
2,6.000000e-13,5.000000e-13,3.000000e-09,1.140000e-08,7.000000e-10,0.000006,0.000006,15.49,-14.32,1.717,4.430000e+09,0.0175
3,3.000000e-13,4.000000e-13,4.340000e-09,1.140000e-08,7.000000e-10,0.000006,0.000006,16.46,-13.99,1.731,3.420000e+09,0.0175
4,3.800000e-13,2.000000e-13,3.740000e-09,1.140000e-08,8.000000e-10,0.000005,0.000005,14.73,-12.72,1.853,3.950000e+09,0.0168
...,...,...,...,...,...,...,...,...,...,...,...,...
28788,3.000000e-13,4.000000e-13,4.280000e-09,1.140000e-08,7.000000e-10,0.000005,0.000005,15.70,-13.47,1.734,3.830000e+09,0.0157
28789,3.000000e-13,3.400000e-13,4.080000e-09,1.100000e-08,6.000000e-10,0.000006,0.000006,16.97,-16.58,1.729,3.570000e+09,0.0182
28790,5.000000e-13,5.000000e-13,4.000000e-09,8.400000e-09,6.000000e-10,0.000005,0.000006,15.47,-16.75,1.770,4.550000e+09,0.0164
28791,6.000000e-13,2.100000e-13,3.000000e-09,1.120000e-08,7.576000e-10,0.000006,0.000006,14.42,-13.70,1.834,4.880000e+09,0.0175
28792,5.600000e-13,2.500000e-13,3.420000e-09,1.040000e-08,8.000000e-10,0.000005,0.000006,14.20,-12.92,1.826,4.590000e+09,0.0164